#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.country-detail-design{
    border: 2px solid thistle;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
#country-details{
 text-align: center;
 margin-top: 20px;
 border: 1px solid green;
}